# Venv directory
/venv

# Answer files
/files/answers

# Chart files
/files/likert_charts

# Maturity analysis files
/files/maturity_analysis

# Qualitative reports
/files/qualitative_reports

# Pycache
__pycache__/
